<img src="Compilador-de-arquivos-excel.png" width=700 height=200 />

# Definindo bibliotecas

Definição das bibliotecas necessárias para o projeto:

1. Pandas: responsável pela manipulação das planilhas em excel (ou dataframes);
2. Numpy: responsável pela manipulação matemática dentro dos dataframes;
3. Datetime: responsável pela manipulação de datas;
4. OS: responsável pela manipulação de recursos do windows;

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import os
import time

# Iniciando temporizador de processamento

Temporizador que iniciar o período de processamento do código. Tem como objetivo avaliar quanto tempo economizado com essa automação.

In [2]:
tempo_inicial = (time.time())

# Parametrizando usuário

Através da biblioteca OS a função .getlogin() retorna o usuário do computador que está rodando o código.

In [3]:
user = os.getlogin()
user

'mayaram4rtins'

# Definindo diretório dos arquivos em excel

A função .path.join da biblioteca OS irá retornar o caminho do diretório onde estarão os arquivos excel que serão lidos.

In [4]:
dir1 = os.path.join(user, 'Documentos', 'compilador-de-arquivos-excel')
dir1

'mayaram4rtins\\Documentos\\compilador-de-arquivos-excel'

## Tratamento de dados dentro dos arquivos primários

### Abertura do excel em um dataframe

Através do pandas, formar um dataframe com o arquivo que será modificado. Para isso, construiu-se dois dataframes com os tratamentos de dados necessários de Vendas PDV: os que estavam relacionados às abas 'Entradas e Saídas' e 'PIS e COFINS débito'

#### Entradas e Saídas

In [5]:
EntradasSaidas_df = pd.read_excel('Fiscal_ExMG.xlsx', engine='openpyxl', sheet_name='Entradas_Saídas')
display(EntradasSaidas_df)

,Registro,Formulário,Tipo E/S,Empresa Contábil,Empresa,Movimento,Emissão,NF Número,ECF Caixa,ECF Série,...,CFOp,ICMS CST,Valor Contábil,ICMS Base Cálc.,ICMS Aliq.,ICMS Crédito / Débito,ICMS Isento,ICMS Outros,ICMS ST Valor,Observações
0,1242893,Nota Fiscal de Compra e Outras Entradas,E,96,96,2023-02-01,2023-02-01,280487,NaN,NaN,...,2949.0,41.0,42.97,0.0,0,0.0,0.0,42.97,0,NaN
1,1242893,Nota Fiscal de Compra e Outras Entradas,E,96,96,2023-02-01,2023-02-01,280487,NaN,NaN,...,2949.0,90.0,192.58,0.0,0,0.0,0.0,192.58,0,NaN
2,1243028,Nota Fiscal de Compra e Outras Entradas,E,96,96,2023-02-02,2023-02-02,280553,NaN,NaN,...,2949.0,41.0,14.32,0.0,0,0.0,0.0,14.32,0,NaN
3,1243028,Nota Fiscal de Compra e Outras Entradas,E,96,96,2023-02-02,2023-02-02,280553,NaN,NaN,...,2949.0,90.0,106.31,0.0,0,0.0,0.0,106.31,0,NaN
4,1243126,Nota Fiscal de Compra e Outras Entradas,E,96,96,2023-02-03,2023-02-03,280618,NaN,NaN,...,2949.0,41.0,33.42,0.0,0,0.0,0.0,33.42,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12877,33704,Vendas PDV,S,96,137,2023-02-28,2023-02-28,33704,1.0,NFCE,...,5405.0,60.0,29.90,0.0,0,0.0,0.0,29.90,0,NaN
12878,1245120,Nota Fiscal de Compra e Outras Entradas,E,96,137,2023-02-28,2023-02-27,5076525,NaN,NaN,...,1403.0,260.0,195.65,0.0,0,0.0,0.0,195.65,0,NaN
12879,1245120,Nota Fiscal de Compra e Outras Entradas,E,96,137,2023-02-28,2023-02-27,5076525,NaN,NaN,...,1403.0,60.0,657.53,0.0,0,0.0,0.0,657.53,0,NaN
12880,1245225,Nota Fiscal de Compra e Outras Entradas,E,96,137,2023-02-28,2023-02-23,7976062,NaN,NaN,...,1253.0,90.0,1565.20,0.0,0,0.0,0.0,1565.20,0,NaN
12881,1245223,Nota Fiscal de Compra e Outras Entradas,E,96,137,2023-02-28,2023-02-23,8726702,NaN,NaN,...,1253.0,90.0,926.31,0.0,0,0.0,0.0,926.31,0,NaN

#### PIS e COFINS

In [6]:
PIS_COFINS_df = pd.read_excel('Fiscal_ExMG.xlsx', engine='openpyxl', sheet_name='PIS_COFINS')
display(PIS_COFINS_df)

,Registro,Formulário,Tipo E/S,Empresa Contábil,Empresa,Movimento,Emissão,NF Espécie,NF Série,NF Número,...,PIS Base Cálculo,PIS Aliq.,PIS Crédito,PIS Débito,COFINS CST,COFINS Base Cálc.,COFINS Aliq.,COFINS Crédito,COFINS Débito,Observação
0,1242893,Nota Fiscal de Compra e Outras Entradas,E,96,96,2023-02-01,2023-02-01,NFE,1,280487,...,0.00,0.00,0.00,0.0,98.0,0.00,0.0,0.00,0.0,NaN
1,1243028,Nota Fiscal de Compra e Outras Entradas,E,96,96,2023-02-02,2023-02-02,NFE,1,280553,...,0.00,0.00,0.00,0.0,98.0,0.00,0.0,0.00,0.0,NaN
2,1243126,Nota Fiscal de Compra e Outras Entradas,E,96,96,2023-02-03,2023-02-03,NFE,1,280618,...,0.00,0.00,0.00,0.0,98.0,0.00,0.0,0.00,0.0,NaN
3,1243237,Nota Fiscal de Compra e Outras Entradas,E,96,96,2023-02-04,2023-02-04,NFE,1,280650,...,0.00,0.00,0.00,0.0,98.0,0.00,0.0,0.00,0.0,NaN
4,1243250,Nota Fiscal de Compra e Outras Entradas,E,96,96,2023-02-05,2023-02-05,NFE,1,281610,...,0.00,0.00,0.00,0.0,98.0,0.00,0.0,0.00,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14011,1245120,Nota Fiscal de Compra e Outras Entradas,E,96,137,2023-02-28,2023-02-27,NFE,1,5076525,...,0.00,0.00,0.00,0.0,70.0,0.00,0.0,0.00,0.0,NaN
14012,1245225,Nota Fiscal de Compra e Outras Entradas,E,96,137,2023-02-28,2023-02-23,NF,0,7976062,...,1493.36,1.65,24.64,0.0,50.0,1493.36,7.6,113.50,0.0,NaN
14013,1245225,Nota Fiscal de Compra e Outras Entradas,E,96,137,2023-02-28,2023-02-23,NF,0,7976062,...,0.00,0.00,0.00,0.0,98.0,0.00,0.0,0.00,0.0,NaN
14014,1245223,Nota Fiscal de Compra e Outras Entradas,E,96,137,2023-02-28,2023-02-23,NF,0,8726702,...,854.47,1.65,14.10,0.0,50.0,854.47,7.6,64.94,0.0,NaN
14015,1245223,Nota Fiscal de Compra e Outras Entradas,E,96,137,2023-02-28,2023-02-23,NF,0,8726702,...,0.00,0.00,0.00,0.0,98.0,0.00,0.0,0.00,0.0,NaN

### Manipulando a data da coluna movimento

É necessário que o formato final da data nessa coluna seja: d/m/y

#### Entradas e Saidas

In [7]:
EntradasSaidas_df['Movimento'] = pd.to_datetime(EntradasSaidas_df['Movimento'], format='%Y-%m-%d', errors='coerce')
EntradasSaidas_df['Movimento'] = EntradasSaidas_df['Movimento'].astype('datetime64[ns]')
EntradasSaidas_df['Movimento'] = EntradasSaidas_df['Movimento'].dt.strftime("%d/%m/%Y")
EntradasSaidas_df['Movimento']

0        01/02/2023
1        01/02/2023
2        02/02/2023
3        02/02/2023
4        03/02/2023
            ...
12877    28/02/2023
12878    28/02/2023
12879    28/02/2023
12880    28/02/2023
12881    28/02/2023
Name: Movimento, Length: 12882, dtype: object

#### PIS e COFINS

In [8]:
PIS_COFINS_df['Movimento'] = pd.to_datetime(PIS_COFINS_df['Movimento'], format='%Y-%m-%d', errors='coerce')
PIS_COFINS_df['Movimento'] = PIS_COFINS_df['Movimento'].astype('datetime64[ns]')
PIS_COFINS_df['Movimento'] = PIS_COFINS_df['Movimento'].dt.strftime("%d/%m/%Y")
PIS_COFINS_df['Movimento']

0        01/02/2023
1        02/02/2023
2        03/02/2023
3        04/02/2023
4        05/02/2023
            ...
14011    28/02/2023
14012    28/02/2023
14013    28/02/2023
14014    28/02/2023
14015    28/02/2023
Name: Movimento, Length: 14016, dtype: object

### Soma de formulário com nomes vazios

#### Entradas e Saidas

Somar valor contábil e ICMS crédito/débito que são de "Formulário: Venda PDV" na mesma data de "Movimento" e da mesma "Empresa". Para isso agrupou-se as colunas relacionadas e somou-se os valores de acordo com as condições. 

Por fim, renomeou-se as colunas para Valor para que fosse possível concatenar todas as informações no arquivo final.

In [9]:
Agrupamento_EntradasSaidas_df = EntradasSaidas_df.loc[EntradasSaidas_df['Formulário'] == 'Vendas PDV',
                                 ["Formulário", "Movimento", "Nome", "NF Número", "Empresa", "Valor Contábil", 
                                  "ICMS Crédito / Débito"]]

display(Agrupamento_EntradasSaidas_df)

,Formulário,Movimento,Nome,NF Número,Empresa,Valor Contábil,ICMS Crédito / Débito
55,Vendas PDV,01/02/2023,NaN,14503,112,86.21,0.00
56,Vendas PDV,01/02/2023,NaN,14504,112,21.98,0.00
57,Vendas PDV,01/02/2023,NaN,14505,112,16.99,0.00
58,Vendas PDV,01/02/2023,NaN,14506,112,18.48,0.00
59,Vendas PDV,01/02/2023,NaN,14507,112,24.99,0.00
...,...,...,...,...,...,...,...
12873,Vendas PDV,28/02/2023,NaN,33701,137,11.99,2.15
12874,Vendas PDV,28/02/2023,NaN,33701,137,3.49,0.00
12875,Vendas PDV,28/02/2023,NaN,33702,137,101.05,0.00
12876,Vendas PDV,28/02/2023,NaN,33703,137,9.89,0.00
12877,Vendas PDV,28/02/2023,NaN,33704,137,29.90,0.00

In [10]:
SomaVendasPDV_EntradasSaidas_df = Agrupamento_EntradasSaidas_df.groupby(['Formulário',
                                         'Empresa',
                                         'NF Número',
                                         'Movimento'])[['Valor Contábil', 
                                                        'ICMS Crédito / Débito']].sum().reset_index()

display(SomaVendasPDV_EntradasSaidas_df)

,Formulário,Empresa,NF Número,Movimento,Valor Contábil,ICMS Crédito / Débito
0,Vendas PDV,112,14503,01/02/2023,86.21,0.00
1,Vendas PDV,112,14504,01/02/2023,21.98,0.00
2,Vendas PDV,112,14505,01/02/2023,16.99,0.00
3,Vendas PDV,112,14506,01/02/2023,18.48,0.00
4,Vendas PDV,112,14507,01/02/2023,24.99,0.00
...,...,...,...,...,...,...
11365,Vendas PDV,137,33700,28/02/2023,2.90,0.00
11366,Vendas PDV,137,33701,28/02/2023,15.48,2.15
11367,Vendas PDV,137,33702,28/02/2023,101.05,0.00
11368,Vendas PDV,137,33703,28/02/2023,9.89,0.00
11369,Vendas PDV,137,33704,28/02/2023,29.90,0.00

Para construção do arquivo final é necessário renomear as colunas de ICMS (tanto crédito quanto débito) e Valor Contábil para o VALOR e empilhar esses valores em uma única coluna de forma a possibilitar a leitura pelo sistema final.

In [11]:
VendasPDV_ValorContábil_df = SomaVendasPDV_EntradasSaidas_df.loc[SomaVendasPDV_EntradasSaidas_df['Formulário'] == 'Vendas PDV',
                                 ["Formulário", "Movimento", "Empresa", "NF Número",
                                  "Valor Contábil"]]

Coluna_VendasPDV_ValorContábil_Renomeada_df = VendasPDV_ValorContábil_df.rename(columns={'Valor Contábil': 'Valor'})

VendasPDV_ICMS_df = SomaVendasPDV_EntradasSaidas_df.loc[SomaVendasPDV_EntradasSaidas_df['Formulário'] == 'Vendas PDV',
                                 ["Formulário", "Movimento", "NF Número", "Empresa",
                                  "ICMS Crédito / Débito"]]

VendasPDV_ICMS_df['Formulário'] = VendasPDV_ICMS_df['Formulário'].replace(['Vendas PDV'], 'ICMS s/ Vendas PDV')

Coluna_VendasPDV_ICMS_Renomeada_df = VendasPDV_ICMS_df.rename(columns={'ICMS Crédito / Débito': 'Valor'})

Colunas_Arquivo_Final_ValorContabil_ICMS_df = pd.concat([Coluna_VendasPDV_ValorContábil_Renomeada_df, Coluna_VendasPDV_ICMS_Renomeada_df], ignore_index = True)
Colunas_Arquivo_Final_ValorContabil_ICMS_df

               Formulário   Movimento  Empresa  NF Número  Valor
0              Vendas PDV  01/02/2023      112      14503  86.21
1              Vendas PDV  01/02/2023      112      14504  21.98
2              Vendas PDV  01/02/2023      112      14505  16.99
3              Vendas PDV  01/02/2023      112      14506  18.48
4              Vendas PDV  01/02/2023      112      14507  24.99
...                   ...         ...      ...        ...    ...
22735  ICMS s/ Vendas PDV  28/02/2023      137      33700   0.00
22736  ICMS s/ Vendas PDV  28/02/2023      137      33701   2.15
22737  ICMS s/ Vendas PDV  28/02/2023      137      33702   0.00
22738  ICMS s/ Vendas PDV  28/02/2023      137      33703   0.00
22739  ICMS s/ Vendas PDV  28/02/2023      137      33704   0.00

[22740 rows x 5 columns]

#### PIS e COFINS

Somar PIS e COFINS débito que são de "Formulário: Vendas PDV" na mesma data de "Movimento" e da mesma "Empresa". Para isso, atribuiu-se à formulários que eram vazios (NaN) o valor "Vendas PDV", agrupou-se as colunas relacionadas e somou-se os valores de acordo com as condições.

Por fim, renomeou-se as colunas para Valor para que fosse possível concatenar todas as informações no arquivo final.

In [12]:
PIS_COFINS_df['Formulário'] = PIS_COFINS_df['Formulário'].fillna('Vendas PDV')
display(PIS_COFINS_df)

,Registro,Formulário,Tipo E/S,Empresa Contábil,Empresa,Movimento,Emissão,NF Espécie,NF Série,NF Número,...,PIS Base Cálculo,PIS Aliq.,PIS Crédito,PIS Débito,COFINS CST,COFINS Base Cálc.,COFINS Aliq.,COFINS Crédito,COFINS Débito,Observação
0,1242893,Nota Fiscal de Compra e Outras Entradas,E,96,96,01/02/2023,2023-02-01,NFE,1,280487,...,0.00,0.00,0.00,0.0,98.0,0.00,0.0,0.00,0.0,NaN
1,1243028,Nota Fiscal de Compra e Outras Entradas,E,96,96,02/02/2023,2023-02-02,NFE,1,280553,...,0.00,0.00,0.00,0.0,98.0,0.00,0.0,0.00,0.0,NaN
2,1243126,Nota Fiscal de Compra e Outras Entradas,E,96,96,03/02/2023,2023-02-03,NFE,1,280618,...,0.00,0.00,0.00,0.0,98.0,0.00,0.0,0.00,0.0,NaN
3,1243237,Nota Fiscal de Compra e Outras Entradas,E,96,96,04/02/2023,2023-02-04,NFE,1,280650,...,0.00,0.00,0.00,0.0,98.0,0.00,0.0,0.00,0.0,NaN
4,1243250,Nota Fiscal de Compra e Outras Entradas,E,96,96,05/02/2023,2023-02-05,NFE,1,281610,...,0.00,0.00,0.00,0.0,98.0,0.00,0.0,0.00,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14011,1245120,Nota Fiscal de Compra e Outras Entradas,E,96,137,28/02/2023,2023-02-27,NFE,1,5076525,...,0.00,0.00,0.00,0.0,70.0,0.00,0.0,0.00,0.0,NaN
14012,1245225,Nota Fiscal de Compra e Outras Entradas,E,96,137,28/02/2023,2023-02-23,NF,0,7976062,...,1493.36,1.65,24.64,0.0,50.0,1493.36,7.6,113.50,0.0,NaN
14013,1245225,Nota Fiscal de Compra e Outras Entradas,E,96,137,28/02/2023,2023-02-23,NF,0,7976062,...,0.00,0.00,0.00,0.0,98.0,0.00,0.0,0.00,0.0,NaN
14014,1245223,Nota Fiscal de Compra e Outras Entradas,E,96,137,28/02/2023,2023-02-23,NF,0,8726702,...,854.47,1.65,14.10,0.0,50.0,854.47,7.6,64.94,0.0,NaN
14015,1245223,Nota Fiscal de Compra e Outras Entradas,E,96,137,28/02/2023,2023-02-23,NF,0,8726702,...,0.00,0.00,0.00,0.0,98.0,0.00,0.0,0.00,0.0,NaN

In [13]:
Agrupamento_PISCOFINS_df = PIS_COFINS_df.loc[PIS_COFINS_df['Formulário'] == 'Vendas PDV', 
                                                                            ['Formulário',
                                                                             'Empresa', 
                                                                             'Movimento',
                                                                             'Nome',
                                                                             'NF Número',
                                                                             'COFINS Débito', 
                                                                             'PIS Débito',
                                                                             'COFINS Crédito', 
                                                                             'PIS Crédito']]                                           

display(Agrupamento_PISCOFINS_df)

,Formulário,Empresa,Movimento,Nome,NF Número,COFINS Débito,PIS Débito,COFINS Crédito,PIS Crédito
31,Vendas PDV,112,01/02/2023,NaN,14503,0.0,0.00,0.0,0.0
32,Vendas PDV,112,01/02/2023,NaN,14504,0.0,0.00,0.0,0.0
33,Vendas PDV,112,01/02/2023,NaN,14505,0.0,0.00,0.0,0.0
34,Vendas PDV,112,01/02/2023,NaN,14506,0.0,0.00,0.0,0.0
35,Vendas PDV,112,01/02/2023,NaN,14507,1.9,0.41,0.0,0.0
...,...,...,...,...,...,...,...,...,...
14006,Vendas PDV,137,28/02/2023,NaN,33701,0.0,0.00,0.0,0.0
14007,Vendas PDV,137,28/02/2023,NaN,33702,0.0,0.00,0.0,0.0
14008,Vendas PDV,137,28/02/2023,NaN,33702,0.0,0.00,0.0,0.0
14009,Vendas PDV,137,28/02/2023,NaN,33703,0.0,0.00,0.0,0.0
14010,Vendas PDV,137,28/02/2023,NaN,33704,0.0,0.00,0.0,0.0

In [14]:
SomaVendasPDV_PISCOFINS_df = Agrupamento_PISCOFINS_df.groupby(['Formulário',
                                                    'Empresa', 'NF Número', 'Movimento'])[['COFINS Débito', 
                                                                              'PIS Débito',
                                                                              'COFINS Crédito', 
                                                                              'PIS Crédito']].sum().reset_index()

display(SomaVendasPDV_PISCOFINS_df)

,Formulário,Empresa,NF Número,Movimento,COFINS Débito,PIS Débito,COFINS Crédito,PIS Crédito
0,Vendas PDV,112,14503,01/02/2023,0.00,0.00,0.0,0.0
1,Vendas PDV,112,14504,01/02/2023,0.00,0.00,0.0,0.0
2,Vendas PDV,112,14505,01/02/2023,0.00,0.00,0.0,0.0
3,Vendas PDV,112,14506,01/02/2023,0.00,0.00,0.0,0.0
4,Vendas PDV,112,14507,01/02/2023,1.90,0.41,0.0,0.0
...,...,...,...,...,...,...,...,...
11365,Vendas PDV,137,33700,28/02/2023,0.00,0.00,0.0,0.0
11366,Vendas PDV,137,33701,28/02/2023,0.91,0.20,0.0,0.0
11367,Vendas PDV,137,33702,28/02/2023,0.00,0.00,0.0,0.0
11368,Vendas PDV,137,33703,28/02/2023,0.00,0.00,0.0,0.0
11369,Vendas PDV,137,33704,28/02/2023,0.00,0.00,0.0,0.0

Para construção do arquivo final é necessário renomear as colunas de PIS e COFINS (tanto crédito quanto débito) para o VALOR e empilhar esses valores em uma única coluna de forma a possibilitar a leitura pelo sistema final

In [15]:
VendasPDV_COFINSD_df = SomaVendasPDV_PISCOFINS_df.loc[SomaVendasPDV_PISCOFINS_df['Formulário'] == 'Vendas PDV',
                                 ["Formulário", "Movimento", "NF Número", "Empresa",
                                  "COFINS Débito"]]

VendasPDV_COFINSD_df['Formulário'] = VendasPDV_COFINSD_df['Formulário'].replace(['Vendas PDV'], 'COFINS s/ Vendas PDV')


Coluna_VendasPDV_COFINSD_Renomeada_df  = VendasPDV_COFINSD_df.rename(columns={'COFINS Débito': 'Valor'})

VendasPDV_PISD_df = SomaVendasPDV_PISCOFINS_df.loc[SomaVendasPDV_PISCOFINS_df['Formulário'] == 'Vendas PDV',
                                 ["Formulário", "Movimento", "NF Número", "Empresa",
                                  "PIS Débito"]]

VendasPDV_PISD_df['Formulário'] = VendasPDV_PISD_df['Formulário'].replace(['Vendas PDV'], 'PIS s/ Vendas PDV')

Coluna_VendasPDV_PISD_Renomeada_df  = VendasPDV_PISD_df.rename(columns={'PIS Débito': 'Valor'})

VendasPDV_COFINSC_df = SomaVendasPDV_PISCOFINS_df.loc[SomaVendasPDV_PISCOFINS_df['Formulário'] == 'Vendas PDV',
                                 ["Formulário", "Movimento", "NF Número", "Empresa",
                                  "COFINS Crédito"]]

VendasPDV_COFINSC_df['Formulário'] = VendasPDV_COFINSC_df['Formulário'].replace(['Vendas PDV'], 'COFINS s/ Vendas PDV')

Coluna_VendasPDV_COFINSC_Renomeada_df  = VendasPDV_COFINSC_df.rename(columns={'COFINS Crédito': 'Valor'})

VendasPDV_PISC_df = SomaVendasPDV_PISCOFINS_df.loc[SomaVendasPDV_PISCOFINS_df['Formulário'] == 'Vendas PDV',
                                 ["Formulário", "Movimento", "NF Número", "Empresa",
                                  "PIS Crédito"]]

VendasPDV_PISC_df['Formulário'] = VendasPDV_PISC_df['Formulário'].replace(['Vendas PDV'], 'PIS s/ Vendas PDV')

Coluna_VendasPDV_PISC_Renomeada_df  = VendasPDV_PISC_df.rename(columns={'PIS Crédito': 'Valor'})

Colunas_VendasPDV_PISCOFINS_df = pd.concat([Coluna_VendasPDV_COFINSD_Renomeada_df , Coluna_VendasPDV_PISD_Renomeada_df , 
                                            Coluna_VendasPDV_COFINSC_Renomeada_df , Coluna_VendasPDV_PISC_Renomeada_df], ignore_index = True)

display(Colunas_VendasPDV_PISCOFINS_df)

                 Formulário   Movimento  NF Número  Empresa  Valor
0      COFINS s/ Vendas PDV  01/02/2023      14503      112    0.0
1      COFINS s/ Vendas PDV  01/02/2023      14504      112    0.0
2      COFINS s/ Vendas PDV  01/02/2023      14505      112    0.0
3      COFINS s/ Vendas PDV  01/02/2023      14506      112    0.0
4      COFINS s/ Vendas PDV  01/02/2023      14507      112    1.9
...                     ...         ...        ...      ...    ...
45475     PIS s/ Vendas PDV  28/02/2023      33700      137    0.0
45476     PIS s/ Vendas PDV  28/02/2023      33701      137    0.0
45477     PIS s/ Vendas PDV  28/02/2023      33702      137    0.0
45478     PIS s/ Vendas PDV  28/02/2023      33703      137    0.0
45479     PIS s/ Vendas PDV  28/02/2023      33704      137    0.0

[45480 rows x 5 columns]

## Construção do arquivo final

### Condição para arquivo final

O arquivo final consiste em tratamento de colunas já existentes e adição de novas que são as que o sistema lê e processa os dados finais.

Para tal, têm-se as seguintes colunas existentes e de onde derivam:

1. **DATA** = Movimento;
2. **Valor** = ICMS Crédito e Débito, PIS Crédito e Débito, Cofins Crédito e Débito, Entradas e Saidas;
3. **Complemento Histórico** = Formulário & condições do DePara;
4. **Código Matriz/Filial** = nº da empresa + 22000 (Ex: 22112);

Além disso, têm-se a inclusão das seguintes colunas:

1. **Cód. Histórico** = 1;
2. **Inicia Lote** = 1;
3. **Centro de Custo Débito** = NaN (vazio);
4. **Centro de Custo Crédito** = NaN (vazio);
5. **Cód. Contábil Crédito** = Valores parametrizados no DePara;
6. **Cód. Contábil Débito** = Valores parametrizados no DePara;

### Colunas do arquivo final

#### Colunas de Vendas PDV de PIS/COFINS e Valor Contábil/ICMS

In [16]:
arqFinal_VendasPDV_df = pd.concat([Colunas_Arquivo_Final_ValorContabil_ICMS_df, Colunas_VendasPDV_PISCOFINS_df], ignore_index = True)
arqFinal_VendasPDV_df = arqFinal_VendasPDV_df.sort_values(by='Movimento').reset_index(drop = True)
arqFinal_VendasPDV_df

                 Formulário   Movimento  Empresa  NF Número  Valor
0                Vendas PDV  01/02/2023      112      14503  86.21
1      COFINS s/ Vendas PDV  01/02/2023      137      33187   0.00
2      COFINS s/ Vendas PDV  01/02/2023      137      33186   0.00
3      COFINS s/ Vendas PDV  01/02/2023      137      33185   0.00
4      COFINS s/ Vendas PDV  01/02/2023      137      33184   0.00
...                     ...         ...      ...        ...    ...
68215     PIS s/ Vendas PDV  28/02/2023      137      30822   0.00
68216     PIS s/ Vendas PDV  28/02/2023      137      30821   0.00
68217     PIS s/ Vendas PDV  28/02/2023      137      30820   0.00
68218     PIS s/ Vendas PDV  28/02/2023      137      30800   0.00
68219     PIS s/ Vendas PDV  28/02/2023      137      33704   0.00

[68220 rows x 5 columns]

#### Colunas de outros tipos de formulário de PIS/COFINS e Valor Contábil/ICMS

In [17]:
OutrosFormularios_ValorContábil_df = EntradasSaidas_df.loc[EntradasSaidas_df['Formulário'] != 'Vendas PDV',
                                 ["Formulário", "Movimento", "Nome", "Empresa", "NF Número",
                                  "Valor Contábil"]]

Coluna_OutrosFormularios_ValorContábil_Renomeada_df = OutrosFormularios_ValorContábil_df.rename(columns={'Valor Contábil': 'Valor'})

OutrosFormularios_ICMS_df = EntradasSaidas_df.loc[EntradasSaidas_df['Formulário'] != 'Vendas PDV',
                                 ["Formulário", "Movimento", "Nome", "NF Número", "Empresa",
                                  "ICMS Crédito / Débito"]]

OutrosFormularios_ICMS_df['Formulário'] = OutrosFormularios_ICMS_df['Formulário'].replace(['Digitação de NF de Faturamento'], 'ICMS s/ Digitação de NF de Faturamento')
OutrosFormularios_ICMS_df['Formulário'] = OutrosFormularios_ICMS_df['Formulário'].replace(['Devolução de Produtos Caixas'], 'ICMS s/ Devolução de Produtos Caixas')
OutrosFormularios_ICMS_df['Formulário'] = OutrosFormularios_ICMS_df['Formulário'].replace(['Nota Fiscal de Compra e Outras Entradas'], 'ICMS s/ Nota Fiscal de Compra e Outras Entradas')

Coluna_OutrosFormularios_ICMS_Renomeada_df = OutrosFormularios_ICMS_df.rename(columns={'ICMS Crédito / Débito': 'Valor'})

Colunas_OutrosFormularios_ValorContabil_ICMS_df = pd.concat([Coluna_OutrosFormularios_ValorContábil_Renomeada_df, 
                                                         Coluna_OutrosFormularios_ICMS_Renomeada_df], ignore_index = True)
Colunas_OutrosFormularios_ValorContabil_ICMS_df

,Formulário,Movimento,Nome,Empresa,NF Número,Valor
0,Nota Fiscal de Compra e Outras Entradas,01/02/2023,DBR DISTRIB BRASILEIRA DE RECARGAS LTDA,96,280487,42.97
1,Nota Fiscal de Compra e Outras Entradas,01/02/2023,DBR DISTRIB BRASILEIRA DE RECARGAS LTDA,96,280487,192.58
2,Nota Fiscal de Compra e Outras Entradas,02/02/2023,DBR DISTRIB BRASILEIRA DE RECARGAS LTDA,96,280553,14.32
3,Nota Fiscal de Compra e Outras Entradas,02/02/2023,DBR DISTRIB BRASILEIRA DE RECARGAS LTDA,96,280553,106.31
4,Nota Fiscal de Compra e Outras Entradas,03/02/2023,DBR DISTRIB BRASILEIRA DE RECARGAS LTDA,96,280618,33.42
...,...,...,...,...,...,...
791,ICMS s/ Nota Fiscal de Compra e Outras Entradas,28/02/2023,SNS DO BRASIL PRODUTOS INFANTIS EIRELI,137,8091,0.00
792,ICMS s/ Nota Fiscal de Compra e Outras Entradas,28/02/2023,DIST CENTRO OESTE DE MEDICAMENTOS LTDA,137,5076525,0.00
793,ICMS s/ Nota Fiscal de Compra e Outras Entradas,28/02/2023,DIST CENTRO OESTE DE MEDICAMENTOS LTDA,137,5076525,0.00
794,ICMS s/ Nota Fiscal de Compra e Outras Entradas,28/02/2023,CEMIG DISTRIBUICAO S.A,137,7976062,0.00
795,ICMS s/ Nota Fiscal de Compra e Outras Entradas,28/02/2023,CEMIG DISTRIBUICAO S.A,137,8726702,0.00

In [18]:
OutrosFormularios_COFINSD_df = PIS_COFINS_df.loc[PIS_COFINS_df['Formulário'] != 'Vendas PDV',
                                 ["Formulário", "Movimento", "Nome", "NF Número", "Empresa",
                                  "COFINS Débito"]]

Coluna_OutrosFormularios_COFINSD_Renomeada_df  = OutrosFormularios_COFINSD_df .rename(columns={'COFINS Débito': 'Valor'})

OutrosFormularios_PISD_df = PIS_COFINS_df.loc[PIS_COFINS_df['Formulário'] != 'Vendas PDV',
                                 ["Formulário", "Movimento", "Nome", "NF Número", "Empresa",
                                  "PIS Débito"]]

Coluna_OutrosFormularios_PISD_Renomeada_df  = OutrosFormularios_PISD_df.rename(columns={'PIS Débito': 'Valor'})

OutrosFormularios_COFINSC_df = PIS_COFINS_df.loc[PIS_COFINS_df['Formulário'] != 'Vendas PDV',
                                 ["Formulário", "Movimento", "Nome", "NF Número", "Empresa",
                                  "COFINS Crédito"]]

Coluna_OutrosFormularios_COFINSC_Renomeada_df  = OutrosFormularios_COFINSC_df.rename(columns={'COFINS Crédito': 'Valor'})

OutrosFormularios_PISC_df = PIS_COFINS_df.loc[PIS_COFINS_df['Formulário'] != 'Vendas PDV',
                                 ["Formulário", "Movimento", "Nome", "NF Número", "Empresa",
                                  "PIS Crédito"]]

Coluna_OutrosFormularios_PISC_Renomeada_df  = OutrosFormularios_PISC_df.rename(columns={'PIS Crédito': 'Valor'})

Colunas_OutrosFormularios_PISCOFINS_df = pd.concat([Coluna_OutrosFormularios_COFINSD_Renomeada_df , Coluna_OutrosFormularios_PISD_Renomeada_df , 
                                                    Coluna_OutrosFormularios_COFINSC_Renomeada_df , Coluna_OutrosFormularios_PISC_Renomeada_df], ignore_index = True)

display(Colunas_OutrosFormularios_PISCOFINS_df)

,Formulário,Movimento,Nome,NF Número,Empresa,Valor
0,Nota Fiscal de Compra e Outras Entradas,01/02/2023,DBR DISTRIB BRASILEIRA DE RECARGAS LTDA,280487,96,0.00
1,Nota Fiscal de Compra e Outras Entradas,02/02/2023,DBR DISTRIB BRASILEIRA DE RECARGAS LTDA,280553,96,0.00
2,Nota Fiscal de Compra e Outras Entradas,03/02/2023,DBR DISTRIB BRASILEIRA DE RECARGAS LTDA,280618,96,0.00
3,Nota Fiscal de Compra e Outras Entradas,04/02/2023,DBR DISTRIB BRASILEIRA DE RECARGAS LTDA,280650,96,0.00
4,Nota Fiscal de Compra e Outras Entradas,05/02/2023,DBR DISTRIB BRASILEIRA DE RECARGAS LTDA,281610,96,0.00
...,...,...,...,...,...,...
1427,Nota Fiscal de Compra e Outras Entradas,28/02/2023,DIST CENTRO OESTE DE MEDICAMENTOS LTDA,5076525,137,0.00
1428,Nota Fiscal de Compra e Outras Entradas,28/02/2023,CEMIG DISTRIBUICAO S.A,7976062,137,24.64
1429,Nota Fiscal de Compra e Outras Entradas,28/02/2023,CEMIG DISTRIBUICAO S.A,7976062,137,0.00
1430,Nota Fiscal de Compra e Outras Entradas,28/02/2023,CEMIG DISTRIBUICAO S.A,8726702,137,14.10
1431,Nota Fiscal de Compra e Outras Entradas,28/02/2023,CEMIG DISTRIBUICAO S.A,8726702,137,0.00

Por fim, deve-se concatenar as colunas 'Nome' com 'Formulário'.

In [19]:
Colunas_OutrosFormularios_PISCOFINS_df["Formulário"] = Colunas_OutrosFormularios_PISCOFINS_df["Formulário"] + " NF " + str(Colunas_OutrosFormularios_PISCOFINS_df["NF Número"]) + " " + Colunas_OutrosFormularios_PISCOFINS_df["Nome"]

display(Colunas_OutrosFormularios_PISCOFINS_df)

,Formulário,Movimento,Nome,NF Número,Empresa,Valor
0,Nota Fiscal de Compra e Outras Entradas NF 0 ...,01/02/2023,DBR DISTRIB BRASILEIRA DE RECARGAS LTDA,280487,96,0.00
1,Nota Fiscal de Compra e Outras Entradas NF 0 ...,02/02/2023,DBR DISTRIB BRASILEIRA DE RECARGAS LTDA,280553,96,0.00
2,Nota Fiscal de Compra e Outras Entradas NF 0 ...,03/02/2023,DBR DISTRIB BRASILEIRA DE RECARGAS LTDA,280618,96,0.00
3,Nota Fiscal de Compra e Outras Entradas NF 0 ...,04/02/2023,DBR DISTRIB BRASILEIRA DE RECARGAS LTDA,280650,96,0.00
4,Nota Fiscal de Compra e Outras Entradas NF 0 ...,05/02/2023,DBR DISTRIB BRASILEIRA DE RECARGAS LTDA,281610,96,0.00
...,...,...,...,...,...,...
1427,Nota Fiscal de Compra e Outras Entradas NF 0 ...,28/02/2023,DIST CENTRO OESTE DE MEDICAMENTOS LTDA,5076525,137,0.00
1428,Nota Fiscal de Compra e Outras Entradas NF 0 ...,28/02/2023,CEMIG DISTRIBUICAO S.A,7976062,137,24.64
1429,Nota Fiscal de Compra e Outras Entradas NF 0 ...,28/02/2023,CEMIG DISTRIBUICAO S.A,7976062,137,0.00
1430,Nota Fiscal de Compra e Outras Entradas NF 0 ...,28/02/2023,CEMIG DISTRIBUICAO S.A,8726702,137,14.10
1431,Nota Fiscal de Compra e Outras Entradas NF 0 ...,28/02/2023,CEMIG DISTRIBUICAO S.A,8726702,137,0.00

In [20]:
arqFinal_OutrosFormularios_df = pd.concat([Colunas_OutrosFormularios_ValorContabil_ICMS_df, Colunas_OutrosFormularios_PISCOFINS_df], ignore_index = True)
arqFinal_OutrosFormularios_df = arqFinal_OutrosFormularios_df.sort_values(by='Movimento').reset_index(drop = True)
arqFinal_OutrosFormularios_df

,Formulário,Movimento,Nome,Empresa,NF Número,Valor
0,Nota Fiscal de Compra e Outras Entradas,01/02/2023,DBR DISTRIB BRASILEIRA DE RECARGAS LTDA,96,280487,42.97
1,Devolução de Produtos Caixas NF 0 28048...,01/02/2023,ALDO FERREIRA DA SILVA,112,391,0.06
2,Devolução de Produtos Caixas NF 0 28048...,01/02/2023,ALDO FERREIRA DA SILVA,112,391,0.00
3,ICMS s/ Nota Fiscal de Compra e Outras Entradas,01/02/2023,DIST. CENTRO OESTE DE MEDICAMENTOS LTDA,137,3464,0.00
4,ICMS s/ Nota Fiscal de Compra e Outras Entradas,01/02/2023,DIST. CENTRO OESTE DE MEDICAMENTOS LTDA,137,3464,0.00
...,...,...,...,...,...,...
2223,Nota Fiscal de Compra e Outras Entradas NF 0 ...,28/02/2023,SNS DO BRASIL PRODUTOS INFANTIS EIRELI,122,8090,0.00
2224,Nota Fiscal de Compra e Outras Entradas NF 0 ...,28/02/2023,SNS DO BRASIL PRODUTOS INFANTIS EIRELI,122,8090,0.00
2225,Nota Fiscal de Compra e Outras Entradas NF 0 ...,28/02/2023,DIST CENTRO OESTE DE MEDICAMENTOS LTDA,122,5077629,0.00
2226,Nota Fiscal de Compra e Outras Entradas NF 0 ...,28/02/2023,CEMIG DISTRIBUICAO S.A,137,7976062,113.50
2227,Nota Fiscal de Compra e Outras Entradas NF 0 ...,28/02/2023,CEMIG DISTRIBUICAO S.A,137,8726702,0.00

#### Colunas finais de valores corrigidos para PIS/COFINS e ICMS/VLR CONTÁBIL

In [21]:
arqFinal_df = pd.concat([arqFinal_VendasPDV_df, arqFinal_OutrosFormularios_df], ignore_index = True)
arqFinal_df = arqFinal_df.sort_values(by='Movimento').reset_index(drop = True)
arqFinal_df

,Formulário,Movimento,Empresa,NF Número,Valor,Nome
0,Vendas PDV,01/02/2023,112,14503,86.21,NaN
1,ICMS s/ Vendas PDV,01/02/2023,112,39980,0.00,NaN
2,ICMS s/ Vendas PDV,01/02/2023,112,39981,19.95,NaN
3,PIS s/ Vendas PDV,01/02/2023,122,56190,0.00,NaN
4,PIS s/ Vendas PDV,01/02/2023,122,56189,0.00,NaN
...,...,...,...,...,...,...
70443,PIS s/ Vendas PDV,28/02/2023,122,57310,0.00,NaN
70444,PIS s/ Vendas PDV,28/02/2023,122,57311,0.00,NaN
70445,PIS s/ Vendas PDV,28/02/2023,112,36714,0.00,NaN
70446,COFINS s/ Vendas PDV,28/02/2023,122,57316,0.00,NaN
70447,Nota Fiscal de Compra e Outras Entradas NF 0 ...,28/02/2023,137,8726702,0.00,CEMIG DISTRIBUICAO S.A

#### Adição de colunas no arquivo final

In [22]:
arqFinal_df["Cód. Contabil Débito"] = np.nan
arqFinal_df["Cód. Contabil Crédito"] = np.nan
arqFinal_df["Cód. Histórico"] = 1
arqFinal_df["Inicia Lote"] = 1
arqFinal_df["Centro de Custo Débito"] = np.nan
arqFinal_df["Centro de Custo Crédito"] = np.nan
arqFinal_df

,Formulário,Movimento,Empresa,NF Número,Valor,Nome,Cód. Contabil Débito,Cód. Contabil Crédito,Cód. Histórico,Inicia Lote,Centro de Custo Débito,Centro de Custo Crédito
0,Vendas PDV,01/02/2023,112,14503,86.21,NaN,NaN,NaN,1,1,NaN,NaN
1,ICMS s/ Vendas PDV,01/02/2023,112,39980,0.00,NaN,NaN,NaN,1,1,NaN,NaN
2,ICMS s/ Vendas PDV,01/02/2023,112,39981,19.95,NaN,NaN,NaN,1,1,NaN,NaN
3,PIS s/ Vendas PDV,01/02/2023,122,56190,0.00,NaN,NaN,NaN,1,1,NaN,NaN
4,PIS s/ Vendas PDV,01/02/2023,122,56189,0.00,NaN,NaN,NaN,1,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
70443,PIS s/ Vendas PDV,28/02/2023,122,57310,0.00,NaN,NaN,NaN,1,1,NaN,NaN
70444,PIS s/ Vendas PDV,28/02/2023,122,57311,0.00,NaN,NaN,NaN,1,1,NaN,NaN
70445,PIS s/ Vendas PDV,28/02/2023,112,36714,0.00,NaN,NaN,NaN,1,1,NaN,NaN
70446,COFINS s/ Vendas PDV,28/02/2023,122,57316,0.00,NaN,NaN,NaN,1,1,NaN,NaN
70447,Nota Fiscal de Compra e Outras Entradas NF 0 ...,28/02/2023,137,8726702,0.00,CEMIG DISTRIBUICAO S.A,NaN,NaN,1,1,NaN,NaN

#### Manipulação de colunas existentes do arquivo final

Primeiro, é necessário somar aos valores da coluna Empresa o número 22000. Esse procedimento foi realizado através de uma função lambda que é aplicada dentro da coluna inteira.

In [23]:
arqFinal_df["Empresa"] = arqFinal_df['Empresa'].apply(lambda x: x + 22000)
arqFinal_df

,Formulário,Movimento,Empresa,NF Número,Valor,Nome,Cód. Contabil Débito,Cód. Contabil Crédito,Cód. Histórico,Inicia Lote,Centro de Custo Débito,Centro de Custo Crédito
0,Vendas PDV,01/02/2023,22112,14503,86.21,NaN,NaN,NaN,1,1,NaN,NaN
1,ICMS s/ Vendas PDV,01/02/2023,22112,39980,0.00,NaN,NaN,NaN,1,1,NaN,NaN
2,ICMS s/ Vendas PDV,01/02/2023,22112,39981,19.95,NaN,NaN,NaN,1,1,NaN,NaN
3,PIS s/ Vendas PDV,01/02/2023,22122,56190,0.00,NaN,NaN,NaN,1,1,NaN,NaN
4,PIS s/ Vendas PDV,01/02/2023,22122,56189,0.00,NaN,NaN,NaN,1,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
70443,PIS s/ Vendas PDV,28/02/2023,22122,57310,0.00,NaN,NaN,NaN,1,1,NaN,NaN
70444,PIS s/ Vendas PDV,28/02/2023,22122,57311,0.00,NaN,NaN,NaN,1,1,NaN,NaN
70445,PIS s/ Vendas PDV,28/02/2023,22112,36714,0.00,NaN,NaN,NaN,1,1,NaN,NaN
70446,COFINS s/ Vendas PDV,28/02/2023,22122,57316,0.00,NaN,NaN,NaN,1,1,NaN,NaN
70447,Nota Fiscal de Compra e Outras Entradas NF 0 ...,28/02/2023,22137,8726702,0.00,CEMIG DISTRIBUICAO S.A,NaN,NaN,1,1,NaN,NaN

Em seguida, é necessário também renomear a coluna Movimento para DATA de forma a ser lida corretamente pelo sistema final

In [24]:
arqFinal_df = arqFinal_df.rename(columns={'Movimento': 'DATA'})
arqFinal_df = arqFinal_df.rename(columns={'Formulário': 'Complemento Histórico'})
arqFinal_df = arqFinal_df.rename(columns={'Empresa': 'Código Matriz/Filial'})
display(arqFinal_df)

,Complemento Histórico,DATA,Código Matriz/Filial,NF Número,Valor,Nome,Cód. Contabil Débito,Cód. Contabil Crédito,Cód. Histórico,Inicia Lote,Centro de Custo Débito,Centro de Custo Crédito
0,Vendas PDV,01/02/2023,22112,14503,86.21,NaN,NaN,NaN,1,1,NaN,NaN
1,ICMS s/ Vendas PDV,01/02/2023,22112,39980,0.00,NaN,NaN,NaN,1,1,NaN,NaN
2,ICMS s/ Vendas PDV,01/02/2023,22112,39981,19.95,NaN,NaN,NaN,1,1,NaN,NaN
3,PIS s/ Vendas PDV,01/02/2023,22122,56190,0.00,NaN,NaN,NaN,1,1,NaN,NaN
4,PIS s/ Vendas PDV,01/02/2023,22122,56189,0.00,NaN,NaN,NaN,1,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
70443,PIS s/ Vendas PDV,28/02/2023,22122,57310,0.00,NaN,NaN,NaN,1,1,NaN,NaN
70444,PIS s/ Vendas PDV,28/02/2023,22122,57311,0.00,NaN,NaN,NaN,1,1,NaN,NaN
70445,PIS s/ Vendas PDV,28/02/2023,22112,36714,0.00,NaN,NaN,NaN,1,1,NaN,NaN
70446,COFINS s/ Vendas PDV,28/02/2023,22122,57316,0.00,NaN,NaN,NaN,1,1,NaN,NaN
70447,Nota Fiscal de Compra e Outras Entradas NF 0 ...,28/02/2023,22137,8726702,0.00,CEMIG DISTRIBUICAO S.A,NaN,NaN,1,1,NaN,NaN

#### Ordenação do arquivo final

In [25]:
arqFinal_df = arqFinal_df[['DATA', 'Cód. Contabil Débito', 'Cód. Contabil Crédito', 'Valor', 'Cód. Histórico', 'Complemento Histórico', 'Inicia Lote', 'Código Matriz/Filial', 'Centro de Custo Débito', 'Centro de Custo Crédito']]
arqFinal_df

,DATA,Cód. Contabil Débito,Cód. Contabil Crédito,Valor,Cód. Histórico,Complemento Histórico,Inicia Lote,Código Matriz/Filial,Centro de Custo Débito,Centro de Custo Crédito
0,01/02/2023,NaN,NaN,86.21,1,Vendas PDV,1,22112,NaN,NaN
1,01/02/2023,NaN,NaN,0.00,1,ICMS s/ Vendas PDV,1,22112,NaN,NaN
2,01/02/2023,NaN,NaN,19.95,1,ICMS s/ Vendas PDV,1,22112,NaN,NaN
3,01/02/2023,NaN,NaN,0.00,1,PIS s/ Vendas PDV,1,22122,NaN,NaN
4,01/02/2023,NaN,NaN,0.00,1,PIS s/ Vendas PDV,1,22122,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
70443,28/02/2023,NaN,NaN,0.00,1,PIS s/ Vendas PDV,1,22122,NaN,NaN
70444,28/02/2023,NaN,NaN,0.00,1,PIS s/ Vendas PDV,1,22122,NaN,NaN
70445,28/02/2023,NaN,NaN,0.00,1,PIS s/ Vendas PDV,1,22112,NaN,NaN
70446,28/02/2023,NaN,NaN,0.00,1,COFINS s/ Vendas PDV,1,22122,NaN,NaN
70447,28/02/2023,NaN,NaN,0.00,1,Nota Fiscal de Compra e Outras Entradas NF 0 ...,1,22137,NaN,NaN

In [26]:
indexValorZero = arqFinal_df[arqFinal_df['Valor']== 0].index
arqFinal_df.drop(indexValorZero, inplace = True)
arqFinal_df.reset_index()

,index,DATA,Cód. Contabil Débito,Cód. Contabil Crédito,Valor,Cód. Histórico,Complemento Histórico,Inicia Lote,Código Matriz/Filial,Centro de Custo Débito,Centro de Custo Crédito
0,0,01/02/2023,NaN,NaN,86.21,1,Vendas PDV,1,22112,NaN,NaN
1,2,01/02/2023,NaN,NaN,19.95,1,ICMS s/ Vendas PDV,1,22112,NaN,NaN
2,54,01/02/2023,NaN,NaN,0.46,1,COFINS s/ Vendas PDV,1,22112,NaN,NaN
3,56,01/02/2023,NaN,NaN,0.91,1,COFINS s/ Vendas PDV,1,22112,NaN,NaN
4,61,01/02/2023,NaN,NaN,1.90,1,COFINS s/ Vendas PDV,1,22112,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
19670,70134,28/02/2023,NaN,NaN,2.90,1,Vendas PDV,1,22137,NaN,NaN
19671,70135,28/02/2023,NaN,NaN,9.41,1,Vendas PDV,1,22137,NaN,NaN
19672,70136,28/02/2023,NaN,NaN,7.99,1,Vendas PDV,1,22137,NaN,NaN
19673,70137,28/02/2023,NaN,NaN,115.39,1,Vendas PDV,1,22137,NaN,NaN
19674,70138,28/02/2023,NaN,NaN,2.43,1,COFINS s/ Vendas PDV,1,22137,NaN,NaN

3. Dicionário com condições que preencheram as colunas: Cód. Contábil Débito e Crédito.
       
     * Vendas PDV: contábil credito: 319, contabil debito 37;
     * ICMS s/ Vendas PDV: contabil credito: 243, contabil debito 327;
     * PIS s/ Vendas PDV: credito 246, debito 329;
     * COFINS s/ Vendas PDV: credito 241, debito 326;
     * Nota de Devolução de Compras + NF e coluna numero + coluna nome: credito 80, debito 204;
     * Digitação de NF de Faturamento + NF e coluna numero + coluna nome (saída):  
          
          1. Se CFOPS 5927, debito 592, credito 80;
          2. Se CFOPS diferente de 5927 mas o NOME é DrogaEx, credito 80, debito 92;
          3. Se CFOPS diferente de tudo isso, credito 341, debito 144;
    
     * ICMS s/ Digitação de NF de Faturamento + NF e coluna numero + coluna nome (saída): credito 243, debito 347
     * Digitação de NF de Faturamento + NF e coluna numero + coluna nome (entrada):  
     
          1. Se o NOME é DrogaEx, credito 93, debito 80
          2. Se o NOME diferente de DrogaEX, credito 10000, debito 20000
    
     * ICMS s/ Digitação de NF de Faturamento + NF e coluna numero + coluna nome (entradas): credito 80, debito 59

     * Devolução de Produtos Caixas + NF e coluna numero + coluna nome: credito 41, debito 332
     * ICMS s/ Devolução de Produtos Caixas + NF e coluna numero + coluna nome: credito 80, debito 59

     * Nota Fiscal de Compra e Outras Entradas + NF e coluna numero + coluna nome: 
          1. Se o NOME é DBR ou conter, credito 10055 e debito 374
          2. Se o NOME é ou contém BETOFARMA, DELMAR, DOTTO, DEMAC, DROGAEX, EX NG, POA, METROFARMA, MIYAFARMA, NOVA CAIEIRAS e DROGAROMERO, credito 217 e debito 80
          3. Se o NOME é diferente disso tudo, credito 204, debito 80
    
     * ICMS s/ Nota Fiscal de Compra e Outras Entradas + NF e coluna numero + coluna nome: credito 80, debito 59
     * Tudo que for TIPO E/S: E, PIS (debito 63 e credito 80) e COFINS (debito 57 e credito 80)

     * Tudo que for TIPO E/S: S, PIS (debito 63 e credito 80) e COFINS (debito 57 e credito 80)
          1. PIS: Digitação de NF de Faturamento + NF e coluna numero + coluna nome (saída): credito 246, debito 349
          2. COFINS: Digitação de NF de Faturamento + NF e coluna numero + coluna nome (saída): credito 241, debito 346

In [28]:
deParaGeral = {
    'Complemento Histórico': ['Vendas PDV', 'ICMS s/ Vendas PDV', 'PIS s/ Vendas PDV', 
                 'COFINS s/ Vendas PDV', 'Nota de Devolução de Compras', 
                 'Devolução de Produtos Caixas', 'ICMS s/ Devolução de Produtos Caixas',
                 'PIS s/ Digitação de NF de Faturamento', 'CONFIS s/ Digitação de NF de Faturamento'], 
    'Cód. Contábil Débito': ['37', '327', '326', '37', '204', '332', '59', '349', '349'], 
    'Cód. Contábil Crédito': ['319', '243', '241', '319', '80', '41', '80', '246', '241'],
}
        
deParaGeral_df = pd.DataFrame(deParaGeral)
deParaGeral_df

,Complemento Histórico,Cód. Contábil Débito,Cód. Contábil Crédito
0,Vendas PDV,37,319
1,ICMS s/ Vendas PDV,327,243
2,PIS s/ Vendas PDV,326,241
3,COFINS s/ Vendas PDV,37,319
4,Nota de Devolução de Compras,204,80
5,Devolução de Produtos Caixas,332,41
6,ICMS s/ Devolução de Produtos Caixas,59,80
7,PIS s/ Digitação de NF de Faturamento,349,246
8,CONFIS s/ Digitação de NF de Faturamento,349,241

In [38]:
arqFinal_df['Cód. Contábil Débito'] = arqFinal_df.where(arqFinal_df['Complemento Histórico'] == deParaGeral_df['Complemento Histórico'], 
                                                     deParaGeral_df['Cód. Contábil Débito'], arqFinal_df['Cód. Contábil Débito'])

ValueError: Can only compare identically-labeled Series objects

#### Arquivo final em CSV

In [27]:
arqFinal_df.to_csv('Fiscal_ExMG.csv', index=False)

# Finalizando o temporizador de processamento

Finalização do temporizador que indica qual o período que o processo foi realizado.

In [28]:
tempo_final = (time.time())

tempo_total = tempo_final - tempo_inicial

print(f"{tempo_total} segundos")

9.05554747581482 segundos